* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #181823;
}

.main-landing {
    width: 100%;
    height: 100vh;
    margin-top: 15%;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 50px;

}

.password-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 50px;
}

.intro-landing {
    width: 100%;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 10px;
}

.logo-acro {
    background-color: #E9F8F9;
    border-radius: 6%;
}

.icon-down {
    margin-top: 1%;
    width: 10%;

    animation: bounce 2s ease infinite;

}

.icon-down:hover {
    filter: invert();
    animation: bounce 1s ease infinite
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.password-info {
    width: 100%;
    height: 150vh;
}

.identity-theft {
    width: 100%;
    height: 220vh;
}

.online-scam {
    width: 100%;
    height: 100vh;
}

.title {
    color: #537FE7;
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: 0;

}

.sub-title {
    margin-left: 20%;
    font-size: 35px;
}

.smaller {
    font-size: 30px;
}

.tiny {
    margin-top: 5%;
    font-size: 17px;
}

.para-title {
    font-size: 20px;
    margin-left: 20%;
}

.introduction-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 0;
    color: #E9F8F9;

    margin-left: 20%;
    margin-right: 20%;
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 0;
    color: #E9F8F9;
    text-align: left;
}

.intro-text {
    color: #E9F8F9;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-left: 32%;
    margin-right: 30%;
}

.further-reading {
    color: #E9F8F9;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-left: 32%;
    margin-right: 30%;
}

/* Password Criteria and Weaknesses */
.pass-container {
    width: 400px;
    display: inline-block;
    border: 3px;
    border-radius: 1rem;
    text-align: center;
    align-content: start;
    margin: 20px;
    background-color: rgba(37, 51, 77, 0.521);
    padding: 30px;
}

/* Left Div Sections */
.section-left {
    text-align: left;
    margin-bottom: 50px;
}

.section-left-text {
    color: #E9F8F9;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}


/* Centered Div Sections */
.section-center {
    text-align: center;
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: center;
    text-align: center;
}


.section-center-div {
    text-align: center;
    color: #E9F8F9;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.column {
    width: 400px;
    display: inline-block;
    border: 3px;
    border-radius: 1rem;
    text-align: center;
    align-content: start;
    margin: 10px;
    background-color: rgba(37, 51, 77, 0.521);
}

/* Attack Methods section */

.text-container {
    width: 50%;
    text-overflow: ellipsis;
}

.centered-flex {
    display: inline-flex;
    margin: 30px;
}

.rectangle {
    display: inline-block;
    text-align: center;
    border: 3px;
    border-radius: 1rem;
    /* height: 200px; */
    width: 30%;
}


.pair-one {
    background-color: rgba(37, 51, 77, 0.521);
    border: 3px;
    border-radius: 1rem;
    min-height: 200px;
    padding-top: 5px;
    margin: 20px;
    margin-bottom: 10px;
}

.pair-two {
    background-color: rgba(37, 51, 77, 0.521);
    border: 3px;
    border-radius: 1rem;
    min-height: 200px;
    padding-top: 5px;
    margin: 20px;
    margin-bottom: 10px;
}







table,
th,
td {
    border: none;
}

.stat-table {
    width: 25%;
    filter: drop-shadow(4px, 1px, black);
}

.id-intro {
    display: flex;
    flex-direction: row;
    /* margin-left: 11%; */

    margin-bottom: 20px;
}

.text-intro {
    margin-right: 0;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.tables {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 10px;
}

.common-scams {
    text-align: center;
}

th,
td {
    font-weight: 0;
    text-align: center;

    padding: 10px;
}

th {
    color: #537FE7;
}

.table-row {
    display: flex;
    flex-direction: row;

    margin-left: 20%;
}

.scrolled {
    opacity: 0;
    transform: translateY(20px);
    animation: scroll-fade 1.5s forwards;
    animation-delay: 0.2s;
}

.strength-meter {
    position: relative;
    height: 2rem;
    /* width: 68.5%; */
    border: 3px solid hsl(261, 88%, 57%);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
    /* column-gap: 50px; */
}

.strength-meter::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-color: var(--color);
    transition: width 200ms;
}

.password-input {
    border-radius: 8px;
    padding: 14px 40px;
    font-size: 16px;
    margin-top: 1rem;
    /* width: 56%; */
    background-color: #181823;
    color: white;
    border: 2px solid hsl(261, 88%, 57%);
    outline: none;
    text-align: center;
}

.password-input:focus {
    border-color: hsl(261, 88%, 70%);
}

.password-div {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    animation: spin 2s linear infinite;
}

.submit-button {
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid hsl(261, 88%, 57%);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 14px;
    font-size: 16px;
    background-color: hsl(256, 100%, 83%);
    cursor: pointer;
}

.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 37vh;
    margin-top: 60px;
}

.flex-items {
    width: calc(35% - 2em);
    margin: 1em;
    vertical-align: middle;
    align-content: start;
    align-items: center;
    border: 3px solid hsl(261, 88%, 57%);
    border-radius: 1rem;
    height: inherit;
    box-sizing: content-box;
    padding-bottom: 60px;
    margin-top: 20px;
}

.feedback-check,
.feedback-error {
    text-align: left;
    margin-left: 10%;
    color: #E9F8F9;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.time-to-crack {
    font-size: 16px;
}

.is-leaked {
    background-color: #181823;
    color: red;
    cursor: pointer;
    width: 50%;
    text-align: center;
    outline: none;
    font-size: 16px;
    padding: 14px 40px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

.weakness-text {
    /* display: block;
    width: 450px;
    overflow-wrap: break-word;
    text-overflow: ellipsis; */
    font-size: 16px;
}

.row {
    display: flex;
    width: 100%;

}

.row div {
    width: 50%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-witdh: 750px) {

    .main-landing {
        height: 300vh;
    }

    .password-info {
        height: 500vh;
    }

    .identity-theft {
        height: 400vh;
    }

    .online-scam {
        height: 200vh;
    }

}

@keyframes scroll-fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-14px);
    }

    90% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0)
    }
}